In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session
import json

/kaggle/input/india-electoral-bonds-details-as-json-array/bonds-purcahsed-array.json
/kaggle/input/india-electoral-bonds-details-as-json-array/bonds-redemption-array.json

In [8]:
dfP = pd.read_json('/kaggle/input/india-electoral-bonds-details-as-json-array/bonds-purcahsed-array.json')
# pd.set_option('display.float_format', lambda x: '%.0f' % x)
# dfP['ReferenceNoURN'] = dfP['ReferenceNoURN'].astype(int)
# dfP['ReferenceNoURN'] = dfP['ReferenceNoURN'].astype(str)
dfP.head()

,SrNoP,ReferenceNoURN,JournalDate,DateOfPurchase,DateOfExpiry,NameOfThePurchaser,PrefixP,BondNumber,DenominationsP,IssueBranchCode,IssueTeller,Status
0,1,1.201904e+18,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11448,1000000,1,5899230,Paid
1,2,1.201904e+18,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11447,1000000,1,5899230,Paid
2,3,1.201904e+18,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11441,1000000,1,5899230,Paid
3,4,1.201904e+18,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1113,100000,1,5899230,Paid
4,5,1.201904e+18,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1118,100000,1,5899230,Paid

In [9]:
dfR = pd.read_json('/kaggle/input/india-electoral-bonds-details-as-json-array/bonds-redemption-array.json')
# pd.set_option('display.float_format', lambda x: '%.0f' % x)
dfR.head()

,SrNoR,DateOfEncashment,NameOfThePoliticalParty,AccountNoOfPoliticalParty,PrefixR,BondNumber,DenominationsR,PayBranchCode,PayTeller
0,1,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,10000000,800,2770121
1,2,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,10000000,800,2770121
2,3,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967,10000000,800,2770121
3,4,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418,1000000,800,2770121
4,5,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126,1000000,800,2770121

In [10]:
merged_df = pd.merge(dfP, dfR, on='BondNumber', how='outer')
merged_df.head()

,SrNoP,ReferenceNoURN,JournalDate,DateOfPurchase,DateOfExpiry,NameOfThePurchaser,PrefixP,BondNumber,DenominationsP,IssueBranchCode,IssueTeller,Status,SrNoR,DateOfEncashment,NameOfThePoliticalParty,AccountNoOfPoliticalParty,PrefixR,DenominationsR,PayBranchCode,PayTeller
0,4285.0,8.002021e+20,07/Apr/2021,07/Apr/2021,21/Apr/2021,N RAMAMOORTHY,OT,8,1000.0,800.0,7273126.0,Expired,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13986.0,8.002023e+20,10/Jul/2023,10/Jul/2023,24/Jul/2023,ARAVIND S,OT,10,1000.0,800.0,7310854.0,Paid,16385.0,24/Jul/2023,BHARATIYA JANATA PARTY,*******8244,OT,1000.0,691.0,8212066.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,NaN,NaN,NaN,NaN,957.0,16/Apr/2019,BHARATIYA JANATA PARTY,*******8244,TL,1000000.0,691.0,4567455.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78,NaN,NaN,NaN,NaN,955.0,16/Apr/2019,BHARATIYA JANATA PARTY,*******8244,TL,1000000.0,691.0,4567455.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83,NaN,NaN,NaN,NaN,1428.0,18/Apr/2019,BHARATIYA JANATA PARTY,*******8244,TL,1000000.0,691.0,3771431.0

In [11]:
merged_df.fillna(0, inplace=True)
merged_df['IssueBranchCode'] = merged_df['IssueBranchCode'].astype(int)
merged_df['SrNoP'] = merged_df['SrNoP'].astype(int)
merged_df['SrNoR'] = merged_df['SrNoR'].astype(int)
merged_df['PayBranchCode'] = merged_df['PayBranchCode'].astype(int)
merged_df['PayTeller'] = merged_df['PayTeller'].astype(int)
merged_df['IssueTeller'] = merged_df['IssueTeller'].astype(int)
merged_df['DenominationsP'] = merged_df['DenominationsP'].astype(int)
merged_df['DenominationsR'] = merged_df['DenominationsR'].astype(int)

merged_df.head()

,SrNoP,ReferenceNoURN,JournalDate,DateOfPurchase,DateOfExpiry,NameOfThePurchaser,PrefixP,BondNumber,DenominationsP,IssueBranchCode,IssueTeller,Status,SrNoR,DateOfEncashment,NameOfThePoliticalParty,AccountNoOfPoliticalParty,PrefixR,DenominationsR,PayBranchCode,PayTeller
0,4285,8.002021e+20,07/Apr/2021,07/Apr/2021,21/Apr/2021,N RAMAMOORTHY,OT,8,1000,800,7273126,Expired,0,0,0,0,0,0,0,0
1,13986,8.002023e+20,10/Jul/2023,10/Jul/2023,24/Jul/2023,ARAVIND S,OT,10,1000,800,7310854,Paid,16385,24/Jul/2023,BHARATIYA JANATA PARTY,*******8244,OT,1000,691,8212066
2,0,0.000000e+00,0,0,0,0,0,75,0,0,0,0,957,16/Apr/2019,BHARATIYA JANATA PARTY,*******8244,TL,1000000,691,4567455
3,0,0.000000e+00,0,0,0,0,0,78,0,0,0,0,955,16/Apr/2019,BHARATIYA JANATA PARTY,*******8244,TL,1000000,691,4567455
4,0,0.000000e+00,0,0,0,0,0,83,0,0,0,0,1428,18/Apr/2019,BHARATIYA JANATA PARTY,*******8244,TL,1000000,691,3771431

In [12]:
merged_df = merged_df.replace({0.0: ''})
merged_df.head()

,SrNoP,ReferenceNoURN,JournalDate,DateOfPurchase,DateOfExpiry,NameOfThePurchaser,PrefixP,BondNumber,DenominationsP,IssueBranchCode,IssueTeller,Status,SrNoR,DateOfEncashment,NameOfThePoliticalParty,AccountNoOfPoliticalParty,PrefixR,DenominationsR,PayBranchCode,PayTeller
0,4285,800202104069999951872.0,07/Apr/2021,07/Apr/2021,21/Apr/2021,N RAMAMOORTHY,OT,8,1000,800,7273126,Expired,,,,,,,,
1,13986,800202307099999993856.0,10/Jul/2023,10/Jul/2023,24/Jul/2023,ARAVIND S,OT,10,1000,800,7310854,Paid,16385,24/Jul/2023,BHARATIYA JANATA PARTY,*******8244,OT,1000,691,8212066
2,,,,,,,,75,,,,,957,16/Apr/2019,BHARATIYA JANATA PARTY,*******8244,TL,1000000,691,4567455
3,,,,,,,,78,,,,,955,16/Apr/2019,BHARATIYA JANATA PARTY,*******8244,TL,1000000,691,4567455
4,,,,,,,,83,,,,,1428,18/Apr/2019,BHARATIYA JANATA PARTY,*******8244,TL,1000000,691,3771431

In [14]:
# Convert 'ReferenceNoURN' column to string without scientific notation
# merged_df['ReferenceNoURN'] = merged_df['ReferenceNoURN'].apply(lambda x: '{:.0f}'.format(x))

# Save DataFrame to JSON
merged_df.to_json('bonds-purchased-redemption-array.json', orient='records')

In [15]:
# Group by 'NameOfThePoliticalParty' and sum 'DenominationsR'
summaryP = merged_df.groupby('NameOfThePurchaser')['DenominationsP'].sum().reset_index()

# Rename columns
summaryP.rename(columns={'NameOfThePurchaser': 'name', 'DenominationsP': 'amount'}, inplace=True)
summaryP.to_json('purchasers.json', orient='records')

# with open('purchasers.json', 'w') as f:
#     json.dump(purch, f)

In [16]:
# Group by 'NameOfThePoliticalParty' and sum 'DenominationsR'
summary = merged_df.groupby('NameOfThePoliticalParty')['DenominationsR'].sum().reset_index()

# Rename columns
summary.rename(columns={'NameOfThePoliticalParty': 'name', 'DenominationsR': 'amount'}, inplace=True)
summary.to_json('parties.json', orient='records')
# with open('parties.json', 'w') as f:
#     json.dump(parties, f)

In [17]:
# Group by 'NameOfThePoliticalParty' and 'NameOfThePurchaser' and sum 'DenominationsR'
summaryPartyW = merged_df.groupby(['NameOfThePoliticalParty', 'NameOfThePurchaser'])['DenominationsR'].sum().reset_index()

# Rename columns
summaryPartyW.rename(columns={'NameOfThePoliticalParty': 'name', 'NameOfThePurchaser': 'purchaser', 'DenominationsR': 'total_amount'}, inplace=True)

summaryPartyW.to_json('party-wise.json', orient='records')

In [18]:
# Group by 'NameOfThePurchaser' and 'NameOfThePoliticalParty' and sum 'DenominationsP'
summaryCompanyW = merged_df.groupby(['NameOfThePurchaser', 'NameOfThePoliticalParty'])['DenominationsP'].sum().reset_index()

# Rename columns
summaryCompanyW.rename(columns={'NameOfThePoliticalParty': 'party', 'NameOfThePurchaser': 'name', 'DenominationsP': 'total_amount'}, inplace=True)

summaryCompanyW.to_json('company-wise.json', orient='records')